streamlit
pandas
plotly
requests
beautifulsoup4
langchain>=1.0.0
langchain-groq
langchain-community
langchainhub        # Fixes the 'hub' import error
duckduckgo-search
langchain-classic   # Fixes the 'AgentExecutor' import error